body{
    background-color: black;
    text-align: center;
}
h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}
p a{
    color: aquamarine;
    font-size: 16px;
}
h2{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
}
h3{
    font-family: verdana;
    font-size: 21px;
    color: gray;
}
.brand{
    text-align: right;
    color: gray;
    font-size: 30px;
}
footer img{
    margin-top: 30px;
}
